
html, body {
    margin: 0;
    padding: 0;
}
div.a{
	
	background-color:#00A40B; 
	width:10%; 
	height:150%; 
		text-align: justify;

	float:right; 
	  margin-left: 0px;
  margin-top: 0px

}
div.b{
	
		background-color:brown; 
	width:10%; 
	height:300px; 
	  margin-left: 0px;
  margin-top: 0px

	margin: 0;
}

a{
	
	color: black;
font-size:100%; 
    text-decoration: none;

}